body{
  background:#572735;
  font-size: 18px;
  font-family: "Palatino",serif; 
  box-sizing: border-box; 
}

.infos{
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  margin: 40px auto;
  gap: 2em;
}

[class*="box--"] {
    display: flex;
    background-color: rgb(230, 230, 230);
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 10px 30px black;
  background-color: rgb(230, 230, 230);
}

.box--full {
    flex: 1 1 100%;
}

.box--half {    
    flex: 1 1;
}

.title{
  font-weight: bold;
  text-align: center;
  font-family: Palatino, serif;
  font-size: 2em;
}

.profile-picture{
  border-radius:50%;
  width: 100px;
}

.name{
  color:#b25d72;
  font-family: "Palatino",serif;
}

.sub-title{
  font-weight: bold;
  text-align: left;
  color:#b25d72;
  font-family: 'Gill sans', sans-serif;
}

.info-wrapper{
  width:100%;
}

a{
  text-decoration: none;
}

.centered{
  text-align: center;
}

